[flake8]
max-line-length=130
per-file-ignores =
  *.py: E203, E301, E302, E305, E501
  *.pyi: E301, E302, E305, E501, E701, E741, NQA102, F401, F403, F405, F822, Y037
  # Since typing.pyi defines "overload" this is not recognized by flake8 as typing.overload.
  # Unfortunately, flake8 does not allow to "noqa" just a specific error inside the file itself.
  # https://github.com/PyCQA/flake8/issues/1079
  #     F811 redefinition of unused '...'
  stdlib/typing.pyi: E301, E302, E305, E501, E701, E741, NQA102, F401, F403, F405, F811, F822, Y037
  # Generated protobuf files include docstrings
  *_pb2.pyi: E301, E302, E305, E501, E701, NQA102, Y021, Y026

exclude = .git,.github,.venv*
noqa_require_code = true
